.pagination__container {
  position: relative;
  display: flex;
  max-width: 1126px;
  margin: 0 auto;
}

/* ------------------------ */

.pagination__list {
  margin: 10px auto;
  display: flex;
  gap: 1rem;
}

.pagination__item {
  list-style: none;
  width: 90px;
  height: 90px;
}

.pagination__button,
.pagination__span,
.pagination__buttonDisabled {
  width: 90px;
  height: 90px;
  padding: 10px;

  font-size: 60px;
  line-height: 60px;
  color: #000;
  text-align: center;
  text-decoration: none;

  border: none;
  background-color: #f28f16;
  border-radius: 50%;

  transition: all 0.3s ease-in-out;
}

.pagination__span {
  display: flex;
  font-weight: 700;
  font-size: 35px;
  line-height: 70px;
  justify-content: center;
}

.pagination__buttonDisabled {
  color: #b0b0b0;
}

.pagination__item_input {
  padding: 0;

  font-size: 2rem;
}

.pagination__item_input::placeholder {
  color: #000;
}

.pagination__language {
  position: absolute;
  height: 90px;
  width: 90px;
  right: -80px;
  top: 0;
  border: none;
  border-radius: 50%;

  background-image: url('../../assets/images/frame.png');

  transition: all 0.3s ease-in-out;
}

.pagination__language:hover,
.pagination__button:hover {
  cursor: pointer;

  transform: scale(1.1);

  box-shadow: 0 0 1rem var(--main-color);
}
