.dropdown {
  position: relative;
  width: 0;
  height: 0;
  top: -47px;
  left: 0;
  transition: all 1s ease-in-out;
  opacity: 0;
  z-index: -1;
}

.dropdown_active {
  position: relative;
  top: -60px;
  left: 5.5rem;
  width: fit-content;
  min-width: 200px;
  max-height: 232px;
  color: var(--main-color);
  background-color: #ccc;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgb(1 28 64 / 20%);
  padding: 12px 0;
  transition: all 1s ease-in-out;
  opacity: 1;
  z-index: 1;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  max-height: 168px;

  list-style-type: none;

  overflow-y: auto;
}

.dropdown__current {
  overflow-x: hidden;

  margin: 12px;
  margin-top: 0;
  padding: 6px 9px;
  padding-left: 20px;

  text-overflow: ellipsis;
  font-size: 1.25rem;

  border: none;
  border-radius: 10px;
  cursor: auto;
}

.dropdown__current::first-letter {
  text-transform: uppercase;
}

.dropdown__item {
  /* overflow-x: hidden; */

  margin-bottom: 12px;
  padding: 0 32px;

  font-size: 1.25rem;
  text-overflow: ellipsis;

  transition: all 0.3s;
}

.dropdown__item:hover {
  cursor: pointer;
  background-color: var(--second-color);
}
