.dropdown,
.dropdown_active {
  position: relative;
  top: -100px;
  left: 0;

  overflow: hidden;

  width: 0;
  max-height: 232px;
  padding: 12px 0;

  color: var(--main-color);

  opacity: 0;
  background-color: #ccc;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgb(1 28 64 / 20%);

  transition: all 1s linear;
}

.dropdown_active {
  z-index: 1;
  left: 5.5rem;

  width: fit-content;
  height: 232px;

  opacity: 1;
}

.dropdown__current {
  cursor: auto;

  margin: 12px;
  margin-top: 0;
  padding: 6px 1.25rem;

  font-size: 1.25rem;

  border: none;
  border-radius: 10px;
}

.dropdown__current::first-letter {
  text-transform: uppercase;
}

.dropdown__list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  height: 9rem;

  list-style-type: none;
}

.dropdown__item {
  margin-bottom: 12px;
  padding: 0 2rem;

  font-size: 1.25rem;

  transition: all 0.3s;
}

.dropdown__item:hover {
  cursor: pointer;
  background-color: var(--second-color);
}

@media (max-width: 1046px) {
  .dropdown {
    top: 0;
    left: -2rem;
    width: fit-content;
    height: 0;
  }

  .dropdown_active {
    top: 2rem;
    left: -2rem;
    width: fit-content;
    animation: open 1s linear;
  }

  @keyframes open {
    0% {
      top: 0;
      height: 0;
    }

    100% {
      top: 2rem;
      height: 232px;
    }
  }
}

@media (max-width: 732px) {
  .dropdown,
  .dropdown_active {
    left: -148px;
    max-width: 14.5rem;
  }

  .dropdown__list {
    width: 100%;
  }
}
