.cards__item {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 5px 26px 12px;
  padding-top: 5px;
  padding-left: 26px;

  background-color: #f0f0f0;
  filter: drop-shadow(4px 4px 4px rgb(33 33 33 / 10%));
  border-radius: 8px;

  transition: all 0.3s ease-in-out;
}

.cards__item:hover {
  cursor: pointer;

  background-color: #f28f16;
}

.cards__item_title {
  overflow: hidden;

  width: 100%;

  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #212121;
  text-shadow: 4px 4px 4px rgb(33 33 33 / 10%);
}

.heightMass__list,
.genderBirth__list {
  display: flex;
  gap: 12px;
  align-items: center;

  list-style-type: none;
}

.heightMass__list {
  font-size: 15px;
  line-height: 18px;
  color: #212121;
}

.heightMass__item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.heightMass__item_ring {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border: 3px solid #212121;
  border-radius: 50%;
}

.genderBirth__list {
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  color: #212121;
  text-align: center;
}

.genderBirth__item {
  min-width: 60px;
  padding: 1px 10px;

  border-radius: 11px;
  box-shadow: inset 0 -2px 0 rgb(0 0 0 / 18%);
}

.genderBirth__item:last-child {
  background-color: #07d6f2;
}
