.cards__item {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 1.25rem;

  background-color: var(--third-color);
  filter: drop-shadow(4px 4px 4px rgb(33 33 33 / 10%));
  border-radius: 8px;

  transition: all 0.3s ease-in-out;
}

.cards__item:hover {
  cursor: pointer;
  background-color: #f28f16;
}

.cards__item_title {
  overflow: hidden;

  width: 100%;

  font-size: 1.5rem;
  color: var(--main-color);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cards__content_wrapper {
  display: flex;
}

.cards__content_list_title,
.cards__content_list_data {
  max-width: 100px;
  color: var(--main-color);
  list-style-type: none;
}

.cards__content_list_title {
  padding-right: 0.5rem;
  text-align: right;
  border-right: 1px solid var(--main-color);
}

.cards__content_list_data {
  padding-left: 0.5rem;
  text-align: left;
}

.cards__content_item_title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards__content_item_data {
  overflow: hidden;
  font-weight: 700;
  text-overflow: ellipsis;
}

.cards__item_image {
  width: 117px;
  height: 117px;
  margin-left: auto;

  background-position: right;
  background-size: cover;
  border-radius: 50%;
}
