.charactersHeader {
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
  width: 100%;
}

.charactersHeader__title_bold {
  font-size: 3rem;
  font-weight: 700;
}

.charactersHeader__title_normal {
  font-size: 3rem;
  color: #8af1ff;
  white-space: nowrap;
}

@media (max-width: 1046px) {
  .charactersHeader {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
  }

  .charactersHeader__title {
    order: 1;
  }

  .charactersHeader__title_bold,
  .charactersHeader__title_normal {
    font-size: 2.5rem;
  }
}

@media (max-width: 539px) {
  .charactersHeader__title_bold,
  .charactersHeader__title_normal {
    font-size: 2rem;
  }
}
