.characters {
  width: 100%;
}

.characters__wrapper {
  position: relative;
  display: flex;
  gap: 2rem;

  max-width: var(--max-width);
  height: var(--main-height);
  margin: 0 auto;
  padding: 0 2rem;
}

.characters__container {
  position: absolute;
  left: 280px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-right: 2rem;

  width: calc(100% - 280px);
  height: var(--main-height);
}

.characters__language {
  margin-left: auto;
  padding-top: 28px;

  font-family: 'Source Sans Pro';
  font-size: 16px;
  line-height: 20px;
  color: #4b4b4b;
}

.characters__title {
  font-size: 35px;
  line-height: 41px;
  color: #000;
  text-align: center;
  text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  letter-spacing: 3px;
}

/* Pre loader */

.preload {
  position: relative;
}

.preload::after {
  content: '';
  position: absolute;
  width: 56px;
  height: 56px;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  border: 12px double #f6f3e3;
  border-radius: 50%;
  border-left-style: solid;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/* .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 400px;
  height: 400px;

  background-image: url('../../assets/images/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
} */

.cards__list {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
  gap: 1.25rem;

  list-style-type: none;
}

.cards__sortEmpty {
  width: 400px;
  height: 218px;
  margin: 0 auto;
  background-image: url('../../assets/images/empty.png');
}

@media (max-width: 1300px) {
  .cards__list {
    overflow-y: scroll;
  }
}

@media (max-width: 768px) {
  .characters__container {
    gap: 20px;
    height: calc(var(--main-height) - 70px);
    margin: 0 20px;
  }
}
