.modal__container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.modal__container_opacity {
  cursor: pointer;

  position: absolute;

  width: 100%;
  height: 100%;

  opacity: 0.5;
  background-color: #212121;
}

.modal__card {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  background-color: #000;
  border-radius: 10px;
  padding: 2rem;

  width: 800px;
  height: 480px;
}

.modal__card_title {
  font-size: 3rem;
}

.modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  right: 1rem;

  width: 44px;
  height: 44px;
  color: #24e5ff;
  font-size: 100px;

  background-color: transparent;
  border: none;
  transform: rotate(45deg);

  transition: all 0.3s ease-in-out;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__card_content_wrapper {
  display: flex;
}

.modal__card_content_list_title,
.modal__card_content_list_data {
  list-style-type: none;
  height: 323px;
}

.modal__card_content_list_title {
  padding-right: 0.75rem;
  border-right: 1px solid #fff;
}

.modal__card_content_list_data {
  padding-left: 0.75rem;
}

.modal__card_content_title,
.modal__card_content_data {
  font-size: 1rem;
  line-height: 200%;
}

.modal__card_content_title {
  margin-left: 3rem;
  text-align: end;
}

.modal__card_content_data {
  font-weight: 700;
}

/* @media (max-width: 768px) {
  .modal__card {
    margin: 0 20px;
  }

  .genderBirth__item {
    overflow: hidden;
    max-width: 110px;
    text-overflow: ellipsis;
  }

  .modal__right {
    padding: 12px;
  }

  .modal__title {
    margin-top: 0;
    font-size: 28px;
    line-height: 36px;
  }
} */
