.home {
  width: 100%;
}

.home__container {
  display: flex;

  max-width: var(--max-width);
  height: var(--main-height);
  margin: 0 auto;
}

.home__title_wrapper {
  display: flex;
  flex-direction: column;
  max-width: 606px;
  margin-top: 11rem;
  margin-left: 3rem;
}

.home__title {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 2rem;
}

.home__title_bold {
  font-size: 6rem;
  font-weight: 700;
}

.home__title_normal {
  font-size: 2.5rem;
  font-weight: 500;
  color: #ffc107;
  white-space: nowrap;
}

.home__title_description_wrapper {
  margin-bottom: 5rem;
}

.home__title_description {
  display: block;
  width: 100%;
  padding-left: 9rem;
  font-size: 32px;
  line-height: 37px;
}

.home__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 1rem 2.5rem 1.25rem;

  font-size: 1.75rem;
  color: #212121;
  text-decoration: none;

  background-color: #24e5ff;
  border-radius: 0.7rem;
  box-shadow: inset 0 -0.5rem 0 rgb(0 0 0 / 18%);

  transition: all 0.3s ease-in-out;
}

.home__image {
  position: absolute;
  width: 931px;
  height: 931px;
  top: 0;
  right: 10vw;
  background-image: url('../../assets/images/BannerComplete.png');
  background-repeat: no-repeat;
  z-index: -1;
}

.home__link:hover {
  cursor: pointer;
  background-color: #ffc107;
}

@media (max-width: 768px) {
  .home__container {
    flex-direction: column;
    margin: 20px;
    padding: 0;
  }

  .home__title_wrapper {
    gap: 20px;
    max-width: 100%;
  }

  .home__title {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 2px;
  }

  .home__title_description {
    font-size: 16px;
    line-height: 18px;
  }

  .home__link {
    width: 160px;
    height: 33px;
    font-size: 16px;
    line-height: 18px;
  }

  .home__image {
    background-size: contain;
  }
}
