.home {
  width: 100%;
}

.home__container {
  position: relative;

  display: flex;

  max-width: var(--max-width);
  height: var(--main-height);
  margin: 0 auto;
}

.home__title_wrapper {
  display: flex;
  flex-direction: column;

  max-width: 606px;
  margin-top: 11rem;
  margin-left: 3rem;
}

.home__title {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 2rem;
}

.home__title_bold {
  font-size: 6rem;
  font-weight: 700;
}

.home__title_normal {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--second-color);
  white-space: nowrap;
}

.home__title_description_wrapper {
  margin-bottom: 5rem;
}

.home__title_description {
  display: block;

  width: 100%;
  padding-left: 9rem;

  font-size: 32px;
  line-height: 37px;
}

.home__link {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: 1rem 2.5rem 1.25rem;

  font-size: 1.75rem;
  color: #212121;
  text-decoration: none;

  background: linear-gradient(rgb(36 229 225), rgb(38 197 195)) rgb(30 251 247);
  border-radius: 0.7rem;
  box-shadow: 0 1px rgb(255 255 255 / 20%) inset, 0 3px 5px rgb(0 1 6 / 50%),
    0 0 1px 1px rgb(0 1 6 / 20%);

  transition: 0.2s ease-in-out;
}

.home__link:hover {
  cursor: pointer;
  background: linear-gradient(rgb(36 229 225), rgb(58 155 154)) rgb(132 239 237);
}

.home__link:active {
  top: 1px;
  background: linear-gradient(rgb(19 130 128), rgb(11 70 69)) rgb(74 159 158);
  box-shadow: 0 0 1px rgb(0 0 0 / 50%) inset, 0 2px 3px rgb(0 0 0 / 50%) inset,
    0 1px 1px rgb(255 255 255 / 10%);
}

.home__image {
  position: absolute;
  z-index: -1;
  top: -133px;
  right: -2rem;

  width: 931px;
  height: 1024px;

  background-image: url('../../assets/images/BannerComplete.png');
  background-repeat: no-repeat;
}

@media (max-width: 1366px) {
  .home__title_wrapper {
    margin-top: 7rem;
  }

  .home__title {
    max-width: 400px;
  }

  .home__title_bold {
    font-size: 4rem;
  }

  .home__title_normal {
    font-size: 2rem;
  }

  .home__title_description {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 1046px) {
  .home__link {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 2rem;
    font-size: 16px;
    line-height: 18px;
  }

  .home__title_description_wrapper {
    margin-bottom: 0;
  }
}

@media (max-width: 1014px) {
  .home__link {
    top: 111px;
  }

  .home__link:active {
    top: 112px;
  }

  .home__image {
    width: 600px;

    background-size: contain;
    background-position: right 4rem;
  }
}

@media (max-width: 732px) {
  .home__container {
    flex-direction: column;
  }

  .home__title_wrapper {
    margin: 2rem auto 0;
  }

  .home__image {
    position: relative;
    top: -2rem;
    width: 100%;

    background-position: bottom;
  }
}
