.header {
  width: 100%;

  background-color: var(--main-color);
  filter: drop-shadow(0 4px 4px rgb(255 255 255 / 25%));
}

.header__container {
  display: flex;
  justify-content: space-between;

  max-width: 1126px;
  height: var(--header-height);
  margin: 0 auto;
  padding-top: 10px;
}

.header__navigation {
  display: flex;
  gap: 74px;
}

.header__link {
  height: 40px;
  margin: auto 0;

  font-size: 25px;
  line-height: 29px;
  color: #fff;
  text-decoration: none;

  transition: all 400ms ease-in-out;
}

.header__link:hover {
  color: #f6f7f9;

  border-bottom: 3px solid #cfdab0;
}

@media (max-width: 768px) {
  .header__container {
    margin: 0 20px;
  }
}
