.header {
  width: 100%;
}

.header__container {
  position: relative;

  display: flex;
  gap: 4rem;
  justify-content: end;

  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2.5rem 2rem 3rem;
}

.header__logo {
  position: absolute;
  z-index: 1;
  top: 2rem;
  left: 2rem;

  width: 13.5rem;
  height: 13.5rem;
}

.header__navigation {
  display: flex;
  gap: 4rem;
}

.header__link {
  margin: auto 0;

  font-size: 1.5rem;
  color: var(--third-color);
  text-decoration: none;

  transition: all 400ms ease-in-out;
}

.header__link:hover {
  color: var(--second-color);
  text-decoration: underline;
}

/* Change Language */

.language {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  background-color: transparent;
  border: none;
}

.languageEn,
.languageWo {
  margin: 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.activeLanguage {
  color: var(--second-color);
}

.languageText {
  display: flex;
  justify-content: space-between;
  width: 138px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 138px;
  height: 15px;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;

  transition: 0.4s;
}

.slider:hover {
  border-color: var(--second-color);
}

.slider::before {
  content: '';

  position: absolute;

  width: 52px;
  height: 7px;
  margin: 2px;

  background-color: white;
  border-radius: 5px;

  transition: 0.4s;
}

.sliderEn::before {
  left: 78px;
}

.sliderWo::before {
  left: 0;
}

@media (max-width: 1439px) {
  .header__logo {
    left: 3.25rem;
    width: 11rem;
    height: 11rem;
  }
}

@media (max-width: 870px) {
  .header__container {
    padding-bottom: 2rem;
  }

  .header__logo {
    top: 1.25rem;
    left: 2rem;
    width: 8rem;
    height: 8rem;
  }

  .header__link:last-child {
    display: none;
  }
}
