.header {
  width: 100%;
}

.header__container {
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 4rem;

  max-width: calc(var(--max-width) - 2 * 2rem);
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

.header__logo {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 216px;
  height: 216px;
}

.header__navigation {
  display: flex;
  gap: 4rem;
  margin-right: 2rem;
}

.header__link {
  margin: auto 0;

  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;

  transition: all 400ms ease-in-out;
}

.header__link:hover {
  color: #ffc107;
  text-decoration: underline;
}

/* @media (max-width: 768px) {
  .header__container {
    margin: 0 20px;
  }
} */
